body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}
  
  .row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
  
  .footer{
  background-color: #f0d6d5;
  margin:0px auto;
  margin-top: 5px;
  padding: 20px 0px 20px 0px;
}

  .jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
  background-color: #CD5C5C;

}
  
  address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}
  
.jumbotron-row{
  height: 200px;
}
.jumbButton{
  color: floralwhite;
}
.carouselHeight{
  height:300px;
}

.mediaImg{
  width:100px;
  height:100px;
}

.cardTextHeight{
  height: 80px;
}
.cardHeight{
  min-height:600px;
}
.background-1{
  min-Height: 700px;
  background-image: url('/images/page1.jpg');
  margin-bottom: 150px;
}

.opac{
  opacity:0.9;
  background-color: indianred !important;
  color: black;
  font-weight: bold;
  margin-top:30px;
  margin-bottom: 30px;
  border-radius: 30px;
  min-height: 400px;
}
